.wallet {
  min-height: calc(100vh - 70px);
  position: relative;
  margin: 0 -40px;
}

.footer {
  text-align: center;
  font-size: 12px;
  height: 40px;
  margin: -40px auto 0;
  position: relative;
  p {
    margin: 0;
  }
}

a {
  color: #666 !important;
}

:host-context(body.dark) {
  .wallet {
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      background: #141C28;
    }
  }

  a {
    color: #fff !important;
  }
}