@import "../../../assets/styles/themes/themes-switch";

$nav-bg: var(--header);
$font-color: var(--font);
$font-hover: var(--font-hover);
$bg-hover: var(--bg-hover);
$shadow: var(--shadow);
$btn: var(--btn);

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  height: 70px;
  padding: 0 35px;
  background: $nav-bg;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);

  &__left {
    display: flex;
    align-items: center;
  }

  &__theme {
    margin-left: 39px;
  }

  &__icon {
    display: flex;

    svg {
      height: 30px;
    }
  }

  &__menu {
    display: flex;
    margin-left: 20px;
  }
}

.menu {
  &__item {
    display: flex;
    margin: 0 3px;
    padding: 7px 35px;
    border-radius: 100px;
    align-items: center;
    text-decoration: none;
    transition: color .1s ease-in-out;
    color: $font-color;

    &:hover {
      color: $font-hover;
    }

    &--active {
      box-shadow: $shadow;
      background: $btn;
      color: #fff;

      &:hover {
        background: $bg-hover;
        color: #fff;
      }
    }

    &__icon {
      margin-right: 5px;
    }
  }
}
