<app-wallet-banner></app-wallet-banner>
<div class="wallet-create">
  <div class="card">
    <h4 class="card__title t--upp font-w--500">Create wallet</h4>
    <div class="card__content">
      <ng-container *ngIf="account; else error">
        <div class="card__note">
          <p class="m-b--30">
            NOTE: Once you leave this page, you cannot recover the address or private key.
          </p>
          <p>Please copy this somewhere safe!</p>
        </div>
        <p class="label">Private Key</p>
        <pre class="code" (click)="onCopy(account.privateKey, $event)">{{account.privateKey}}</pre>
        <p class="label">Address</p>
        <pre class="code" (click)="onCopy(account.address, $event)">{{account.address}}</pre>
      </ng-container>
      <ng-template #error>
        <h3 class="center m-b--40 t--upp font-w--500">An error occurred while processing request. Please try again later.</h3>
      </ng-template>
    </div>
    <button routerLink="/wallet" type="button" class="btn btn--light">Back</button>
  </div>
</div>