@import "../../../assets/styles/themes/themes-switch";

$btn-bg: var(--btn);
$pwa-bg: var(--main);

.pwa-banner {
  padding: 10px;
  transform: translateX(110%);
  transition: .5s;
  background: $pwa-bg;

  span {
    svg {
      width: 80px;
      margin-left: 4px;
      vertical-align: middle;
    }
  }

  div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    a {
      display: block;
      width: 70px;
      padding: 5px 0;
      text-align: center;
      text-decoration: none;
      color: #fff;
      background: $btn-bg;
      cursor: pointer;
    }
  }

  &__wrapper {
    position: fixed;
    top: 70px;
    right: 0;
    z-index: 3;
    width: 280px;
    padding-top: 1px;
    overflow: hidden;
  }
}

.show-banner {
  transform: translateX(0);
}
