<div class="wallet-use" [ngStyle]="{'padding-bottom': contract != null ? '400px' : '0px'}">
  <div class="form-card">
    <h4>Use Contract</h4>
    <div class="form-card__content">
      <h5>Interact with a Smart Contract on GoChain</h5>
      <form class="uk-form-horizontal" [formGroup]="useContractForm">
        <div class="uk-margin">
          <label class="uk-form-label">Contract Address*:</label>
          <div>
            <input class="uk-input" placeholder="Contract Address" formControlName="contractAddress">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label">ABI / JSON Interface:</label>
          <div>
            <textarea class="uk-textarea" placeholder="ABI / JSON Interface" formControlName="contractABI"
                      rows="5">
            </textarea>
          </div>
        </div>
        <ng-container *ngIf="contract != null">
          <div class="uk-margin">
            <label>Choose Contract Function (only free functions are available)</label>
            <div>
              <select class="uk-select" formControlName="contractFunction">
                <option *ngFor="let selectableFunction of functions; let index = index;" [value]="index">
                  {{selectableFunction.name}} - 'free'
                </option>
              </select>
              <i class="fas fa-caret-down"></i>
            </div>
          </div>
          <ng-container *ngIf="selectedFunction">
            <div *ngFor="let functionInput of selectedFunction.inputs; let i=index" formArrayName="functionParameters"

                 class="uk-margin">
              <div>
                <input class="uk-input" placeholder="{{functionInput.name}}" formControlName="{{i}}">
              </div>
            </div>
            <div *ngIf="selectedFunction.payable" class="uk-margin">
              <div>
                <input class="uk-input" placeholder="Amount" formControlName="contractAmount">
              </div>
            </div>
            <div *ngIf="!selectedFunction.constant || selectedFunction.payable" class="uk-margin">
              <label>Gas Limit*:</label>
              <div>
                <input class="uk-input uk-form-width-medium" placeholder="Gas Limit" formControlName="gasLimit"
                       type="number">
              </div>
            </div>
          </ng-container>
        </ng-container>
        <div *ngIf="functionResult">
          <h5>Response</h5>
          <div *ngFor="let k of functionResult" style="color: #02F48E !important;">
            {{k[0]}}: <span style="font-weight: bold; color: #02F48E !important">{{k[1]}}</span>
          </div>
        </div>
        <div class="uk-margin ta-r">
          <button routerLink="/wallet" class="btn btn--default btn--light m-r--10" type="button">Back</button>
          <button class="btn btn--default btn--light m-r--10" type="reset">Reset</button>
          <button
            class="btn"
            type="submit"
            [disabled]="isProcessing"
            (click)="useContract()"
          >
            <ng-container *ngIf="!isProcessing; else interacting;">
              Submit
            </ng-container>
            <ng-template #interacting>
              Processing <i class="fas fa-spinner fa-spin m-l--10"></i>
            </ng-template>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
