<app-main-top></app-main-top>
<ng-container *ngIf="(address | async) as addr; else addressNotFound">
  <app-cards-holder>
    <div>
      <ul>
        <li>
          <p>Address hash:</p>
          <b>{{addr.address}}</b>
        </li>
        <li>
          <p>Balance:</p>
          <b>{{addr.balance_wei | weiToGO | bigNumber}}</b>
        </li>
        <ng-container *ngIf="addr.contract && addr.go20">
          <li>
            <ul>
              <li>
                <p>Token name:</p>
                <b>{{addr.token_name}}</b>
              </li>
              <li>
                <p>Token symbol:</p>
                <b>{{addr.token_symbol}}</b>
              </li>
              <li>
                <p>Total supply:</p>
                <b>{{addr.total_supply}}</b>
              </li>
            </ul>
          </li>
          <li>
            <p>Decimals:</p>
            <b>{{addr.decimals}}</b>
          </li>
        </ng-container>
        <li>
          <ul>
            <li>
              <p>Total transactions:</p>
              <b>{{addr.number_of_transactions}}</b>
            </li>
            <ng-container *ngIf="addr.contract && addr.go20">
              <li>
                <p>Total internal transactions:</p>
                <b>{{addr.number_of_internal_transactions}}</b>
              </li>
              <li>
                <p>Total holders:</p>
                <b>{{addr.number_of_token_holders}}</b>
              </li>
            </ng-container>
          </ul>
        </li>
      </ul>
    </div>
  </app-cards-holder>
  <div>
    <app-tabs name="addr_tab">
      <tab name="transactions">
        <tab-title>
          Transactions
        </tab-title>
        <tab-content>
            <ng-container *ngIf="transactions.length; else emptyTransactions">
              <app-table>
                <ng-container *ifViewportSize="['small']">
                  <ul *ngFor="let tx of transactions">
                    <li>Tx hash: <a routerLink="/tx/{{tx.tx_hash}}">{{tx.tx_hash}}</a>
                    </li>
                    <li>Created: {{tx.created_at| date: 'dd/MM/yyyy HH:mm:ss'}}
                      ({{tx.created_at | timeAgo}})
                    </li>
                    <li>Associate:
                      <ng-container *ngIf="addr.address === tx.to; else out">
                        <i> < </i>
                        <a routerLink="/addr/{{tx.from}}">{{tx.from}}</a>
                      </ng-container>
                      <ng-template #out>
                        <i> > </i>
                        <a routerLink="/addr/{{tx.to}}">{{tx.to}}</a>
                      </ng-template>
                    </li>
                    <li>Value (GO): {{addr.address === tx.to ? '+' : '-'}} {{tx.value | weiToGO: false : false |
                        bigNumber}}
                    </li>
                  </ul>
                </ng-container>
                <ng-container *ifViewportSize="['large']">
                  <div>
                    <table>
                      <thead>
                      <tr>
                        <th>Transaction hash</th>
                        <th>Created at</th>
                        <th></th>
                        <th>Associate</th>
                        <th>Value (GO)</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let tx of transactions">
                        <td><a routerLink="/tx/{{tx.tx_hash}}">{{tx.tx_hash}}</a></td>
                        <td>
                          {{tx.created_at| date: 'dd/MM/yyyy HH:mm:ss'}} ({{tx.created_at | timeAgo}})
                        </td>
                        <ng-container *ngIf="addr.address === tx.to; else out">
                          <td>
                            <i> < </i>
                          </td>
                          <td>
                            <a routerLink="/addr/{{tx.from}}">{{tx.from}}</a>
                          </td>
                        </ng-container>
                        <ng-template #out>
                          <td>
                            <i> > </i>
                          </td>
                          <td>
                            <a routerLink="/addr/{{tx.to}}">{{tx.to}}</a>
                          </td>
                        </ng-template>
                        <td>
                          {{addr.address === tx.to ? '+' : '-'}} {{tx.value | weiToGO: false : true | bigNumber}}
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-container>
              </app-table>
              <div>
                <ng-template [appInfinityScroll]="transactionScrollState" (onView)="onScroll('transaction')">
                  <app-loader *ngIf="transactionScrollState"></app-loader>
                </ng-template>
              </div>
            </ng-container>
            <ng-template #emptyTransactions>
              <div class="empty">Transactions</div>
            </ng-template>
        </tab-content>
      </tab>
      <tab *ngIf="addr.contract && addr.go20" name="internal_transactions">
        <tab-title>
          Internal Transactions
        </tab-title>
        <tab-content>
            <ng-container *ngIf="internal_transactions.length; else emptyInternal">
              <app-table>
                <ng-container *ifViewportSize="['small']">
                  <ul *ngFor="let tx of internal_transactions">
                    <li><a routerLink="/tx/{{tx.transaction_hash}}">{{tx.transaction_hash}}</a></li>
                    <li>Created: {{tx.updated_at| date: 'dd/MM/yyyy HH:mm:ss'}} ({{tx.updated_at
                        |
                        timeAgo }})
                    </li>
                    <li>To: <a routerLink="/addr/{{tx.to_address}}">{{tx.to_address}}</a></li>
                    <li>Value ({{addr.token_symbol}}): {{tx.value | weiToGO: false : true : addr.decimals | bigNumber}}</li>
                  </ul>
                </ng-container>
                <ng-container *ifViewportSize="['large']">
                  <div>
                    <table>
                      <thead>
                      <tr>
                        <th>Transaction hash</th>
                        <th>Created at</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Value ({{addr.token_symbol}})</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let tx of internal_transactions">
                        <td><a routerLink="/tx/{{tx.transaction_hash}}">{{tx.transaction_hash}}</a></td>
                        <td>{{tx.updated_at| date: 'dd/MM/yyyy HH:mm:ss'}} ({{tx.updated_at | timeAgo }})</td>
                        <td><a routerLink="/addr/{{tx.from_address}}">{{tx.from_address}}</a></td>
                        <td><a routerLink="/addr/{{tx.to_address}}">{{tx.to_address}}</a></td>
                        <td>{{tx.value | weiToGO: false : true : addr.decimals |
                            bigNumber}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-container>
              </app-table>
              <div>
                <ng-template [appInfinityScroll]="internalTransactionScrollState"
                             (onView)="onScroll('internalTransaction')">
                  <app-loader></app-loader>
                </ng-template>
              </div>
            </ng-container>
            <ng-template #emptyInternal>
              <div class="empty">No internal transactions</div>
            </ng-template>
        </tab-content>
      </tab>
      <tab *ngIf="addr.contract && addr.go20" name="holders">
        <tab-title>
          Holders
        </tab-title>
        <tab-content>
            <ng-container *ngIf="token_holders.length; else emptyHolders">
             <app-table>
               <ng-container *ifViewportSize="['small']">
                 <ul *ngFor="let holder of token_holders">
                   <li>Token holder: <a
                     routerLink="/addr/{{holder.token_holder_address}}">{{holder.token_holder_address}}</a>
                   </li>
                   <li>Balance ({{addr.token_symbol}}): {{holder.balance | weiToGO: false : true
                       : addr.decimals | bigNumber}}
                   </li>
                 </ul>
               </ng-container>
               <ng-container *ifViewportSize="['large']">
                 <div>
                   <table style="table-layout: fixed;">
                     <thead>
                     <tr>
                       <th>Token holder</th>
                       <th>Balance ({{addr.token_symbol}})</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr *ngFor="let holder of token_holders">
                       <td>
                         <a routerLink="/addr/{{holder.token_holder_address}}">{{holder.token_holder_address}}</a>
                       </td>
                       <td>{{holder.balance | weiToGO: false : true : addr.decimals |
                           bigNumber}}</td>
                     </tr>
                     </tbody>
                   </table>
                 </div>
               </ng-container>
             </app-table>
              <div>
                <ng-template [appInfinityScroll]="holderScrollState" (onView)="onScroll('holder')">
                  <app-loader></app-loader>
                </ng-template>
              </div>
            </ng-container>
            <ng-template #emptyHolders>
              <div class="empty">No holders</div>
            </ng-template>
        </tab-content>
      </tab>
      <tab *ngIf="addr.contract" name="contract_source">
        <tab-title>
          Contract Source
        </tab-title>
        <tab-content>
          <app-table>
            <ng-container *ngIf="contract">
              <ng-container *ngIf="!contract.valid">
                <h5><i>!!!</i> Contract Source Code Unverified</h5>
                <a routerLink="/verify" [queryParams]="{address: addr.address}" class="btn">Verify And Publish Source
                  Code</a>
              </ng-container>
              <ng-container *ngIf="contract.valid">
                <h5><i>!!!</i> Contract Source Code Verified</h5>
                <h5><i>!!!</i> Contract Source Code</h5>
                <p>Contract Name: {{contract.contract_name}}</p>
                <p>Compiler Version: {{contract.compiler_version}}</p>
                <p>Optimization: {{contract.optimization}}</p>
                <p>Verified: {{contract.updated_at | date: 'dd/MM/yyyy HH:mm:ss'}} ({{contract.updated_at | timeAgo}})</p>
                <pre class="code">{{contract.source_code}}</pre>
              </ng-container>
              <h5><i>!!!</i> Contract Bytecode</h5>
              <pre class="code">{{contract.byte_code}}</pre>
            </ng-container>
          </app-table>
        </tab-content>
      </tab>
    </app-tabs>
  </div>
</ng-container>
<ng-template #addressNotFound>
  <app-info text="Address not found"></app-info>
</ng-template>
