<app-main-top class="translate" *ifViewportSize="['large']"></app-main-top>
<app-main-top class="translate height" *ifViewportSize="['small']"></app-main-top>
<ng-container *ngIf="richList">
  <h3>Richlist</h3>
 <app-table>
   <div>
     <ng-container *ifViewportSize="['small']">
       <ul *ngFor="let address of richList.rankings; let rankI = index;">
         <li>Rank: {{rankI + 1}}</li>
         <li>Address: <a routerLink="/addr/{{address.address}}">{{address.address}}</a></li>
         <li>Balance (GO): {{address.balance_wei | weiToGO: false : true | bigNumber}}</li>
         <li>Supply owned: {{address.supplyOwned}}%</li>
       </ul>
     </ng-container>
     <ng-container *ifViewportSize="['large']">
       <div>
         <table>
           <thead>
           <tr>
             <th>Rank</th>
             <th>Address</th>
             <th>Balance (GO)</th>
             <th>Supply owned</th>
           </tr>
           </thead>
           <tbody>
           <tr *ngFor="let address of richList.rankings; let rankI = index;">
             <td>{{rankI + 1}}</td>
             <td><a routerLink="/addr/{{address.address}}">{{address.address}}</a></td>
             <td>{{address.balance_wei | weiToGO: false : true | bigNumber}}</td>
             <td>{{address.supplyOwned}}%</td>
           </tr>
           </tbody>
         </table>
       </div>
     </ng-container>
   </div>
 </app-table>
</ng-container>
<div class="center">
  <button type="button" [disabled]="isMoreDisabled"
          (click)="richListQueryParams.next()">More
  </button>
</div>