<app-main-top></app-main-top>
<ng-container *ngIf="!!block; else blockNotFound">
  <app-cards-holder>
    <div>
      <ul>
        <li>
          <p>Block Number</p>
          <b>{{block.number}}</b>
        </li>
        <li>
          <p>Block Hash</p>
          <b>{{block.hash }}</b>
        </li>
        <li>
          <p>Created At</p>
          <b>{{block.created_at| date: 'dd/MM/yyyy HH:mm:ss'}} ({{block.created_at | timeAgo }})</b>
        </li>
        <li>
          <p>Parent block hash</p>
          <b>
            <a routerLink="/block/{{block.parent_hash }}">{{block.parent_hash }}</a>
          </b>
        </li>
        <li>
          <p>Signer</p>
          <b>
            <a routerLink="/addr/{{block.miner}}">{{block.miner}}</a>
          </b>
        </li>
        <li>
          <ul>
            <li>
              <p>Gas Limit</p>
              <b>{{block.gas_limit | bigNumber}}</b>
            </li>
            <li>
              <p>Gas Used</p>
              <b>{{block.gas_used | bigNumber}}</b>
            </li>
            <li>
              <p>Nonce</p>
              <b>{{block.nonce }}</b>
            </li>
          </ul>
        </li>
        <li>
          <ul>
            <li>
              <p>Transactions Count</p>
              <b>{{block.tx_count }}</b>
            </li>
            <li>
              <p>Difficulty</p>
              <b>{{block.difficulty }}</b>
            </li>
          </ul>
        </li>
        <li>
          <p>Extra Data</p>
          <b>{{block.extra_data }}</b>
        </li>
      </ul>
    </div>
  </app-cards-holder>
  <div>
    <div>
      <h3>Transactions:</h3>
      <div *ngIf="transactions.length">
        <select [(ngModel)]="transactionQueryParams.limit">
          <option [ngValue]="10">10</option>
          <option [ngValue]="25">25</option>
          <option [ngValue]="50">50</option>
          <option [ngValue]="100">100</option>
        </select>
      </div>
    </div>
    <ng-container *ngIf="transactions.length; else empty">
      <app-table class="--width-auto">
      <ng-container *ifViewportSize="['small']">
        <ul *ngFor="let tx of transactions">
          <li>
            Tx hash: <a routerLink="/tx/{{tx.tx_hash}}">{{tx.tx_hash}}</a>
          </li>
          <li>
            Created: {{tx.created_at| date: 'dd/MM/yyyy HH:mm:ss'}} ({{tx.created_at | timeAgo}})
          </li>
          <li>
            From: <a routerLink="/addr/{{tx.from}}">{{tx.from}}</a>
          </li>
          <li>
            To: <a routerLink="/addr/{{tx.to}}">{{tx.to}}</a>
          </li>
          <li>
            Value (GO): {{tx.value | weiToGO: false : true | bigNumber}}
          </li>
        </ul>
      </ng-container>
        <ng-container *ifViewportSize="['large']">
          <div>
            <table>
              <thead>
              <tr>
                <th>Transaction hash</th>
                <th>Created at</th>
                <th>From</th>
                <th>To</th>
                <th>Value (GO)</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tx of transactions">
                <td><a routerLink="/tx/{{tx.tx_hash}}">{{tx.tx_hash}}</a></td>
                <td>{{tx.created_at| date: 'dd/MM/yyyy HH:mm:ss'}} ({{tx.created_at | timeAgo }})
                </td>
                <td><a routerLink="/addr/{{tx.from}}">{{tx.from}}</a></td>
                <td><a routerLink="/addr/{{tx.to}}">{{tx.to}}</a></td>
                <td>{{tx.value | weiToGO: false : true | bigNumber}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </app-table>
      <div>
        <app-pagination [total]="transactionQueryParams.totalPage"
                        (onSelect)="onTransactionPageSelect($event)"></app-pagination>
      </div>
    </ng-container>
    <ng-template #empty>
      <div class="empty">No transactions</div>
    </ng-template>
  </div>
</ng-container>
<ng-template #blockNotFound>
  <app-info text="Block not found"></app-info>
</ng-template>
