@import "../assets/styles/mixins";

.app-container {
  padding: 70px 40px 0;
  min-height: calc(100vh - 70px);

  @include respond-to(small) {
    padding: 70px 10px 0;
    min-height: calc(100vh - 70px);
  }

  .loader {
    display: none;
  }

  &--loading {
    .loader {
      display: block;
    }
    .content {
      display: none;
    }
  }

  .content {
    /*min-height: calc(100vh - 70px);*/
  }

}

:host-context(body.dark) {
  .loader {
    .loader__content {
      div {
        background: #f8f8f2 !important;
      }
    }
  }
}
