@import "../assets/styles/utils/mixins";

.app-container {
  padding: 70px 40px 30px;
  min-height: 100vh;

  @include respond-to(small) {
    padding: 70px 10px 0;
  }

  .app-loader {
    display: none;
  }

  &--loading {
    .app-loader {
      display: block;
    }
    .content {
      display: none;
    }
  }

}
