@import '../../../assets/styles/utils/mixins';
@import '../../../assets/styles/themes/themes-switch';

$font: var(--font);

.home {

  &__slider {
    position: relative;
    z-index: 1;
    margin: -100px -10px 0;

    @include respond-to(small) {
      margin-top: -130px;
    }
  }
}

h5 {
  text-align: center;
  margin-bottom: 70px;
  font-weight: 300;
  font-size: 14px;
  color: $font;

  @include respond-to(small) {
    margin-bottom: 80px;
  }
}

h3 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: $font;
}
