.wallet-main {
  .card {
    position: relative;
    z-index: 1;
  }
}

.wallet-menu {
  &__item {
    background: #fff;
    box-shadow: 0 12px 35px rgba(11, 5, 35, 0.2);
    padding: 20px;
    margin-right: 40px;
    cursor: pointer;

    &:hover {
      background: darken(#fff, 3%);
    }

    &:last-child {
      margin-right: 0;
    }

    .item {
      &__icon {
        img {
          height: 65px;
        }
        margin-bottom: 20px;
      }
      &__title {
        font-size: 24px;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 20px;
      }
      &__description {
        font-weight: 300;
        color: #000;
        font-size: 14px;
      }
    }
  }
}

.wallet-intro {
  margin-bottom: 40px;

  img {
    height: 200px;
  }

  &__image {
    min-width: 250px;
    margin-left: 100px;
  }
  &__title {
    font-size: 38px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__desciption {
    font-size: 24px;
    color: #fff;
  }
}

.card {
  width: 900px;
  margin: 0 auto !important;
  display: block;
}

:host-context(body.dark) {
  .wallet-menu {
    &__item {
      background: #1F314B;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);

      &:hover {
        background: lighten(#1F314B, 15%);
      }

      &__title {
        color: #fff;
      }

      &__description {
        color: #fff;
      }
    }
  }
}