:root {
  --main-d: #2d224d;
  --bg-alt-d: var(--header-d);
  --mobile-bg-d: #130c27;
  --header-d: #140d28;
  --font-d: #f0eef2;
  --cards-alt-d: #1C143C;
  --btn-d: #7500f5;
  --bg-hover-d: rgba(117, 0, 245, .9);
  --font-hover-d: #b26cff;
  --link-d: #00f68b;
  --table-row-d: #3f2e79;
  --shadow-d: 0 8.82353px 17.6471px rgba(117, 0, 245, 0.2);
  --svg-fill-d: #fff;
  --font-active-d: #fff;
  --input-bg-d: #2c1d5b;
  --font-alt-d: var(--link-d);
  --loader-d: #f8f8f2;
}