:root {
  --main-l: #fff;
  --bg-alt-l: #fdfdfd;
  --mobile-bg-l: #f5f5f5;
  --header-l: #fff;
  --cards-alt-l: #fff;
  --font-l: #333;
  --btn-l: #06A5FF;
  --bg-hover-l: rgba(6, 165, 255, .8);
  --font-hover-l: var(--btn-l);
  --font-alt-l: #000;
  --link-l: var(--btn-l);
  --table-row-l: #F1F1F1;
  --shadow-l: 0 8.82353px 17.6471px rgba(6, 165, 255, 0.2);
  --svg-fill-l: #000;
  --font-active-l: #fff;
  --input-bg-l: #fff;
  --loader-l: #151721;
}