<app-main-top class="translate height"></app-main-top>
<h3>Verify Contract: </h3>
<p>
  Verify and Publish Contract Source Code
</p>
<p>
  If the compiled bytecode matches the Creation Address bytecode, the contract is then Verified and will be published
  online.
</p>
<p>
  Compiler version: {{compilerVersion$ | async}}
</p>

<form [formGroup]="form" (submit)="onSubmit()">
  <div>
    <label>Contract Address*</label>
    <div>
      <input type="text" placeholder="" formControlName="address">
    </div>
  </div>
  <div>
    <label>Contract Name*</label>
    <div>
      <input type="text" placeholder="" formControlName="contract_name">
    </div>
  </div>
  <div>
    <div>Contract Code*</div>
    <div>
      <textarea rows="9" placeholder="" formControlName="source_code"></textarea>
    </div>
  </div>
  <div appRecaptcha key="{{recaptchaPublicKey}}" actionName="contractVerification"
       formControlName="recaptcha_token"></div>
  <div>
    <div>
      <button class="btn" type="submit">Validate Code</button>
    </div>
  </div>
</form>