@import "../../../assets/styles/utils/mixins";
@import "../../../assets/styles/themes/themes-switch";

$bg-hover: var(--bg-hover);
$btn: var(--btn);
$input-bg: var(--input-bg);
$font: var(--font);

.search {
  display: flex;
  height: 60px;

  svg {
    vertical-align: bottom;

    path {
      fill: #fff;
    }
  }

  input {
    border: none;
    padding: 5px 16px;
    width: 100%;
    -webkit-appearance: none;
    transition: width .4s ease-in-out;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: .3px;
    background: $input-bg;
    color: $font;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

    
    &::placeholder {
      color: $font;
    }

    &:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }
  }

  button {
    border: none;
    padding: 5px 15px;
    font-size: 14px;
    line-height: 24px;
    background: $btn;
    width: 60px;
    cursor: pointer;

    &:hover {
      background: $bg-hover;
    }

    &:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }
  }
}
