@import '../../../assets/styles/utils/mixins';
@import '../../../assets/styles/themes/themes-switch';

$btn: var(--btn);
$font: var(--font);
$titles-bg: var(--header);
$font-hover: var(--font-hover);
$color-active: var(--font-active);

h3 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.tabs {
  &__titles {
    overflow: auto;
    margin: 60px auto;
    padding: 0 10px;
    border-radius: 30px;
  }

  &__scroll-block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px auto;
    max-width: max-content;
    border-radius: 30px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);

    @include respond-to(small) {
      min-width: max-content;
    }
  }

  &__content {
    padding-bottom: 40px;
  }

  &__title {
    text-align: center;
    padding: 15px 40px;
    text-transform: uppercase;
    transition: color .1s ease-in-out;
    user-select: none;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    color: $font;
    background: $titles-bg;

    @include respond-to(small) {
      padding: 15px;
    }

    &:hover {
      color: $font-hover;

      @include respond-to(small) {
        color: inherit;
      }
    }

    &:first-child {
      border-radius: 100px 0 0 100px;
    }

    &:last-child {
      border-radius: 0 100px 100px 0;
    }

    &--active {
      color: $color-active;
      background: $btn;

      &:hover {
        color: #fff;
      }
    }
  }

  &__title.single {
    border-radius: 100px;

    @include respond-to(small) {
      padding: 15px 40px;
    }
  }
}
