@import '../../../assets/styles/mixins';

h3 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.tabs {
  &__titles {
    display: flex;
    flex-wrap: nowrap;
    margin: 60px auto 0;
    -webkit-tap-highlight-color: transparent;
    justify-content: center;

    @include respond-to(small) {
      margin: 30px 0 40px;
    }
  }

  &__title {
    text-align: center;
    padding: 15px 40px;
    transition: color .1s ease-in-out;
    user-select: none;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;

    @include respond-to(small) {
      font-size: 12px;
      padding: 15px 10px;
    }

    &:first-child {
      border-radius: 100px 0 0 100px;
    }

    &:last-child {
      border-radius: 0 100px 100px 0;
    }

    &--active {
      color: #fff;
      background: #06A5FF;
    }
  }

  &__content {
    margin-top: 50px;
    padding-bottom: 20px;
  }
}

.single {
  @include respond-to(small) {
    padding: 15px 40px;
  }
}

::ng-deep {
  .wallet {
    .tabs {
      &__titles {
        justify-content: space-between;
      }

      &__title {
        width: 33.3%;
        background: #06A5FF;
        color: #fff;

        &--active {
          color: #000;
          background: #fff;
        }

        &:first-child {
          border-radius: 0;
        }

        &:last-child {
          border-radius: 0;
        }
      }

      &__content {
        margin-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

:host-context(body.dark) {
  .tabs {
    &__title {
      background: #172539;
      &--active {
        background: #1F314B;
      }
    }
  }
}
