<div class="tabs">
  <div class="tabs__titles">
    <div class="tabs__scroll-block">
      <div class="tabs__title"
           *ngFor="let tab of tabs"
           [ngClass]="{'tabs__title--active': tab === activeTab, 'single': tabs.length === 1}"
           (click)="onTabSelect(tab)"
      >
        <ng-container [ngTemplateOutlet]="tab.title.tabTitleRef"></ng-container>
      </div>
    </div>
  </div>
  <div class="tabs__content">
    <ng-container [ngTemplateOutlet]="activeTab?.content.tabContentRef"></ng-container>
  </div>
</div>
